.icon-video {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../img/video.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}