.input-container {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 4px;
    padding: 5px;
}

.input-container label {
    margin-right: 10px;
    font-size: 16px;
    font-weight: bold;
}

.input-container input {
    flex-grow: 1;
    background: none;
    border: none;
    outline: none;
    font-size: 16px;
}
.my-button {
    background-color: #51a5e6;
    border: #87ceeb;
    color: #fff;
    font-size: 12px;
    width: 80px;
    height: 26px;
    border-radius: 3px;
    margin-left: 10px;
    cursor: pointer;
}

.my-info-button {
    background-color: #d0d0d0;
    border: #87ceeb;
    color: #fff;
    font-size: 12px;
    width: 80px;
    height: 26px;
    border-radius: 3px;
    margin-left: 10px;
    cursor: pointer;
}

.dialog-title{
    line-height: 24px;
    font-size: 18px;
    color: #252438;
}